[submodule "morphe-frontend"]
	path = morphe-frontend
	url = https://github.com/Ssberry19/Morphe-frontend.git
[submodule "fitness_django_project-with-docker"]
	path = fitness_django_project-with-docker
	url = https://github.com/Ssberry19/fitness_django_project-with-docker.git
[submodule "woman_moment"]
	path = woman_moment
	url = https://github.com/Ssberry19/woman_moment.git
