[submodule "morphe-frontend"]
	path = morphe-frontend
	url = https://github.com/Ssberry19/Morphe-frontend.git
[submodule "morphe-backend"]
	path = morphe-backend
	url = https://github.com/Ssberry19/morphe-backend.git
[submodule "morphe-ml-service"]
	path = morphe-ml-service
	url = https://github.com/Ssberry19/morphe-ml-service.git
